{% extends "base.html" %}
{% block content %}
    <h1>About Page</h1>

    <h3>Great places to visit, eat and drink</h3>

    <p>
        Sunderland boasts a wealth of incredible eateries, remarkable restaurants and delicious delis.
    
        To mark the city's 30th birthday, we have scanned Tripadvisor to compile a definitive list of the top ranked
        places to eat, drink and be merry in Sunderland.
    
        Everyone will have their own favourites, but here are the top-rated Tripadvisor venues in the city....
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>North</h3>
            <h4>Modern seafood small plates & more.</h4>
            <p>
            
                Bookings are available 30 days in advance.
            
                By night we offer a selection of seafood small plates served tapas style. We also have a smaller selection of meat &
                vegetarian dishes alongside cocktails, wine & good music in a casual dining, non formal environment.
            
                By day we offer a delicious modern brunch menu.
            
                Whilst children are welcome we do not have a children's menu or high chairs.
            
                We do not allow dogs in the restaurant, but limited outdoor seating will available soon.
            </p>
        </div>

        <div class="col-md-5">
            <img src="https://i2-prod.chroniclelive.co.uk/incoming/article25767707.ece/ALTERNATES/s810/0_CFR_NJL_151222northfood_03.jpg" alt="image from inside North restaurant">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://www.sunderlandecho.com/webimg/b25lY21zOjVkYjVhZTdlLWVkOGMtNGY2Yi1hZTFmLWMxYTIzZmMxYmRmYTplYjNiOGFhNC0zMDc4LTQzMTQtOTNkNC1iYzNjZWY4OWE4ZmE=.jpg" alt="image from outside SIX restuarant">
        </div>
        <div class="col-md-7">
            <h3>SIX</h3>
            <h4>Wine, Cheese and Charcutierie</h4>
            <p>
                Wine and cheese lovers are in for a treat with the new addition to Sunderland seafront.A new restaurant and wine
                lounge has opened on Pier Point, Roker, offering meat and cheese boards, cocktails, wines and more.
            
                Six only opened its doors last weekend, but already has a waiting list for peak times with people eager to try out
                its plates and platters which have a firm focus on local cheeses, charcuterie, seafood, vegetarian options, sides
                and specials.
            </p>
        </div>
    </div>
{% endblock %}
