{% extends "base.html" %}
{% block content %}

    <h1>{{ page_title }}</h1>

    <p>
        Sunderland boasts a wealth of incredible eateries, remarkable restaurants and delicious delis.
    
        To mark the city's 30th birthday, we have scanned Tripadvisor to compile a definitive list of the top ranked
        places to eat, drink and be merry in Sunderland.
    
        Everyone will have their own favourites, but here are the top-rated Tripadvisor venues in the city....
    </p>


    {% for restaurants in restaurant %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ restaurants.name }}</h3>
                    <h4>{{ restaurants.heading }}</h4>
                    <p>{{ restaurants.description }}</p>
                </div>

                <div class="col-md-5">
                    <img src="{{ restaurants.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %} 
            
                <div class="col-md-5">
                    <img src="{{ restaurants.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ restaurants.name }}</h3>
                    <h4>{{ restaurants.heading }}</h4>
                    <p>{{ restaurants.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}
