{% extends "base.html" %}
{% block content %}
    <h2>Great places to visit, eat and drink</h2>

    <p>
        Sunderland boasts a wealth of incredible eateries, remarkable restaurants and delicious delis.
    
        To mark the city's 30th birthday, we have scanned Tripadvisor to compile a definitive list of the top ranked
        places to eat, drink and be merry in Sunderland.
    
        Everyone will have their own favourites, but here are the top-rated Tripadvisor venues in the city....
    </p>

    <hr>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>North</h3>
            <h4>Modern seafood small plates & more.</h4>
            <p>
            
                Bookings are available 30 days in advance.
            
                By night we offer a selection of seafood small plates served tapas style. We also have a smaller selection of meat &
                vegetarian dishes alongside cocktails, wine & good music in a casual dining, non formal environment.
            
                By day we offer a delicious modern brunch menu.
            
                Whilst children are welcome we do not have a children's menu or high chairs.
            
                We do not allow dogs in the restaurant, but limited outdoor seating will available soon.
            </p>
        </div>

        <div class="col-md-5">
            <img src="https://i2-prod.chroniclelive.co.uk/incoming/article25767707.ece/ALTERNATES/s810/0_CFR_NJL_151222northfood_03.jpg" alt="image from inside North restaurant">
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://www.sunderlandecho.com/webimg/b25lY21zOjVkYjVhZTdlLWVkOGMtNGY2Yi1hZTFmLWMxYTIzZmMxYmRmYTplYjNiOGFhNC0zMDc4LTQzMTQtOTNkNC1iYzNjZWY4OWE4ZmE=.jpg" alt="image from outside SIX restuarant">
        </div>
        <div class="col-md-7">
            <h3>SIX</h3>
            <h4>Wine, Cheese and Charcutierie</h4>
            <p>
                Wine and cheese lovers are in for a treat with the new addition to Sunderland seafront.A new restaurant and wine
                lounge has opened on Pier Point, Roker, offering meat and cheese boards, cocktails, wines and more.
            
                Six only opened its doors last weekend, but already has a waiting list for peak times with people eager to try out
                its plates and platters which have a firm focus on local cheeses, charcuterie, seafood, vegetarian options, sides
                and specials.
            </p>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Roker Hotel</h3>
            <h4>Afternoon Tea, Bar and Bistro</h4>
            <p>
                We pride ourselves on our amazing cake counter (which is filled with hand crafted patisseries and outrageous freshly
                made cakes), intimate dining experience, exceptional coffee, exquisite service, and outstanding views.
            
                Our head chef also makes an amazing brunch, with the most perfectly poached eggs. So, get yourself along and try it
                for yourself.
                Poetic License Bar is the home of small batch gin, amazing cocktails, craft keg beer and soul food. Situated in the
                Roker Hotel, with amazing sea views, we cater for all dietary requirements, and needs.
            </p>
        </div>

        <div class="col-md-5">
            <img src="https://rokerhotel.co.uk/wp-content/uploads/2020/10/Superior_Room_With_Seaview_Gallery.jpeg" alt="an image from the terrace at the Roker Hotel">
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://www.anticorestaurant.com/wp-content/uploads/2019/04/anticoroker-e1583158920856.jpg" alt="image from inside Antico restuarant">
        </div>
        <div class="col-md-7">
            <h3>Antico</h3>
            <h4>Home of the genuine Italian dining experience</h4>
            <p>
                Here at Antico in Sunderland, we serve the best Italian food, with an authentic Italian experience! We serve the
                most delicious selection of pizzas, freshest pasta dishes and indulgent desserts! So let us know if you need
                something
                different and we will work around your needs. Be sure to ask your server for our full vegetarian and vegan options.
            
                At Antico, our motto is “good food, good wine, good times” – we always provide our customers with the most genuine
                experience and they leave our restaurant feeling satisfied every time!
            </p>
        </div>
    </div>

    <hr>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Fausto</h3>
            <h4>Coffee and Company</h4>
            <p>
                Come to this cafe to taste tasty scones, brownies and biscuits. Delicious beer is served - try and enjoy. Here you
                can drink great latte, tea or
                fresh juices.
            
                The cosy atmosphere of Fausto Coffee makes guests feel relaxed and have a nice time. The staff is pleasant that's
                what makes this place so good. Spectacular service is something visitors agree upon here. Affordable prices are what
                you are to pay for your meal. Guests appreciate the chance to enjoy the cute decor.
            </p>
        </div>

        <div class="col-md-5">
            <img src="https://www.baldhiker.com/wp-content/uploads/P7122928.jpg" alt="an image of people outside Fausto">
        </div>
    </div>

{% endblock %}
